<div class="actionBtns">
<a id="create-button" href="/free-stuffs/create">Add new free stuff</a>

<p>or</p>

<form class="searchBar" action="/free-stuffs" method="GET">
  <input
    class="bar"
    type="text"
    placeholder="Search a city..."
    name="city"
  />
  <input class="button" type="submit" value="→">
</form>
</div>

<section id="freestuff-list">
{{#each freestuff}}
  <div class="freestuff-card">
    <h3>{{this.city}}, {{this.country}}</h3>
    <h4>{{this.category}}</h4>
    <div class="description">
          <p>{{this.description}}</p>
    </div>

    <div class="options">
      <a class= "freestuff-button" href="/free-stuffs/{{_id}}">More Details</a>


      <form action="/favorites/{{_id}}" method="POST">
        <button class="favoriteBtn">Add to favorites</button>
      </form>

      </div>
  </div>
{{/each}}
</section>

