<form class="searchBar" action="/free-stuffs" method="GET">
  <input
    class="bar"
    type="text"
    placeholder="Search a city..."
    name="city"
  />
  <input type="submit" value="search">
</form>

<a id="create-button" href="/free-stuffs/create">Add a new free stuff!</a>
<section id="freestuff-list">
{{#each freestuff}}
  <div class="freestuff-card">
    <h3>{{this.city}}, {{this.country}}</h3>
    <h4>{{this.category}}</h4>
    <p>{{this.description}}</p>
    <div class="options">
      <a class= "freestuff-button" href="/free-stuffs/{{_id}}">More Details</a>


      <form action="/user-profile" method="POST">
        <button id="favoriteBtn">Add to favorites</button>
      </form>

      </div>
  </div>
{{/each}}
</section>

