<section>
  <h2>{{city}}, {{country}}</h2>
  <p>
    <strong>Description:</strong>
    {{description}}
  </p>

  <p>
    <a href="/free-stuffs/{{_id}}/edit">Edit</a>|
    <form action="/free-stuffs/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </p>

</section>

<a href="/free-stuffs">Back</a>