{{!-- <div class="container">
  <div class="searchInput">
    <input type="text" placeholder="Search a city..">
    <div class="resultBox">
    </div>
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>
</div> --}}

<a id="create-button" href="/free-stuffs/create">Add a new Free Stuff!!!</a>
<section id="freestuff-list">
{{#each freestuff}}
  <div class="freestuff-card">
    <h3>{{this.city}}, {{this.country}}</h3>
    <h4>{{this.category}}</h4>
    <p>{{this.description}}</p>
    <div class="options">
      <a class= "freestuff-button" href="/free-stuffs/{{_id}}">Know more</a>
      <button id="favoriteBtn">Add to favorites</button>
      </div>
  </div>
{{/each}}
</section>

