<section class="freestuff-card moreDetails">
  <h2>{{freeStuffDetails.city}}, {{freeStuffDetails.country}}</h2>
  <p>
    <strong>Description:</strong>
    {{freeStuffDetails.description}}
  </p>

  {{#if isOwner}}
    <p>
      <a href="/free-stuffs/{{freeStuffDetails._id}}/edit">Edit</a>
      <form action="/free-stuffs/{{freeStuffDetails._id}}/delete" method="POST">
        <button class="deleteBtn">Delete</button>
      </form>
    </p>
  {{/if}}
</section>

<a href="/free-stuffs" class="backBtn">Back</a>